<div>

    <app-nav-bar></app-nav-bar>
    <p style="text-align: center; font-size: 30px; font-weight: bold;">Buyer Login</p>

    <div id="loginForm">
        <label for="username">Username: </label>
        <input type="text" id="username" name="username" [(ngModel)]="usernameInput">

        <br>


        <label for="password">Password: </label>
        <input type="text" id="password" name="password" [(ngModel)]="passwordInput">

        <button id="loginButton" (click)="loginUser()">Login</button>
        <p id="errorMessage" style="color: red;"[hidden]="errorMessageHidden" >Username/Password Incorrect!</p>
        <br>
        <p>Not a buyer? Log In as Seller <a style="color: blue; cursor: pointer;" (click)="toSellerLogin()">Here.</a> </p>
    </div>

</div>