<sellerNav></sellerNav>
<div *ngIf="products.length > 0; else elseBlock">
  <div>
    <p style="text-align: center; font-weight: bolder; font-size: 50px">
      Seller Portal
    </p>
    <seller-product
      *ngFor="let product of products"
      [productsInputted]="product"
    ></seller-product>
  </div>
</div>

<ng-template #elseBlock>
  <h2>No Shoes in this list!</h2>
</ng-template>
<div id="row">
  <div id="column">
    <div id="card">
      <p style="text-align: center; font-weight: bolder; font-size: 30px">Add Shoe</p>
      <label>Product Name: </label>
      <input
        id="new-product"
        name="new-product"
        type="text"
        maxlength="50"
        [(ngModel)]="newProductName"
      />
      <label>Shoe Price: </label>
      <input
        id="new-product"
        name="new-product"
        type="text"
        maxlength="50"
        [(ngModel)]="newPrice"
      />
      <label>Shoe Color: </label>
      <input
        id="new-product"
        name="new-product"
        type="text"
        maxlength="50"
        [(ngModel)]="newColor"
      />
      <br />
      <label>Gender: </label>
      <br />
      <input
        id="new-product"
        name="new-product"
        type="text"
        maxlength="50"
        [(ngModel)]="newGender"
      />
      <label>Shoe Category: </label>
      <input
        id="new-product"
        name="new-product"
        type="text"
        maxlength="50"
        [(ngModel)]="newCategory"
      />
      <label>Shoe Quantity: </label>
      <input
        id="new-product"
        name="new-product"
        type="text"
        maxlength="50"
        [(ngModel)]="newQuantity"
      />

      <label>Shoe Image: </label>
      <input
        id="new-product"
        name="new-product"
        type="text"
        maxlength="1000"
        [(ngModel)]="newImage"
      />
      <label>Shoe Description: </label>
      <input
        id="new-product"
        name="new-product"
        type="text"
        maxlength="50"
        [(ngModel)]="newDescription"
      />

      <button id="btn" (click)="createProduct()">Add Shoe</button>
      
    <p *ngIf="errorMessage" style="color: red">{{ errorMessage }}</p>
    <p *ngIf="successMessage" style="color: green">{{ successMessage }}</p>
      <!-- <p class="error-message" [hidden]="hide">Shoe text can't be blank!</p> -->
    </div>
  </div>
</div>
