<div *ngIf="products.length > 0; else elseBlock" class="product-container">
  <div>
    <seller-product
      *ngFor="let product of products"
      [productsInputted]="product"
    ></seller-product>
  </div>
</div>

<ng-template #elseBlock>
  <h2>No Shoes in this list!</h2>
</ng-template>

<div class="new-product-form">
  <label >Shoe Category: </label>
  <input
    id="new-product"
    name="new-product"
    type="text"
    placeholder="Change Me!"
    maxlength="50"
  />
  <button>Add Shoe</button>
  <p class="error-message" [hidden]="hide">Shoe text can't be blank!</p>
</div>
