<div
  id="TodoContainer"
  *ngIf="products.length > 0; else elseBlock"
  class="todo-container"
>
  <div class="todo">
    <seller-product
      *ngFor="let product of products"
      [productsInputted]="product"
    ></seller-product>
  </div>
</div>

<ng-template #elseBlock>
  <h2>No Shoes in this list!</h2>
</ng-template>

<div id="NewTodoForm" class="new-todo-form">
  <label for="new-todo">To-Do Text: </label>
  <input
    id="new-todo"
    name="new-todo"
    type="text"
    placeholder="Change Me!"
    maxlength="50"
  />
  <button >Add Shoe</button>
   <p class="error-message" [hidden]="hide">Shoe text can't be blank!</p>
</div>
