<div id="row">
    <div id="column">
        <div id="card">
    <p>Price: {{this.productsInputted.price}}</p>
    <p>Color: {{this.productsInputted.color}}</p>
    <p>Gender: {{this.productsInputted.gender}}</p>
    <p>Quantity: {{this.productsInputted.quantity}}</p>
    <p>Category: {{this.productsInputted.category}}</p>
    <p>Brand: {{this.productsInputted.seller.companyName}}</p>
    <img src={{this.productsInputted.imageUrl}} alt="Shoe Picture Here">
    <br>
    <button (click)="viewProductById()">view</button>
    <br>
    <br>
    <button type="button" id="buyButton" style="font-family: 'Courier New', Courier, monospace;">Buy Now!</button>
       </div>
    </div>
</div>
