
<div class="card">
    <div>
        <div class="card-body">
            <p class="card-text">Price: {{this.productsInputted.price}}</p>
            <p class="card-text">Color: {{this.productsInputted.color}}</p>
            <p class="card-text">Gender: {{this.productsInputted.gender}}</p>
            <p class="card-text">Quantity: {{this.productsInputted.quantity}}</p>
            <p class="card-text">Category: {{this.productsInputted.category}}</p>
            <p class="card-text">Brand: {{this.productsInputted.seller.companyName}}</p>
            <img class="card-img-top" src={{this.productsInputted.imageUrl}} alt="Shoe Picture Here">
            <br>
            <button class="btn btn-outline-secondary" (click)="viewProductById()">view</button>
            <br>
            <br>
            <button class="btn btn-outline-warning" type="button" id="buyButton">Buy Now!</button>
            <button class="btn btn-outline-success" type="button" id="cartButton" (click)="addToCart()">Add to Cart</button>
       </div>
    </div>
</div>
