<div>
  <app-nav-bar-sl></app-nav-bar-sl>
  <p style="text-align: center; font-size: 30px; font-weight: bold">
    Seller Register
  </p>
  <div id="registerForm">
    <label for="companyName">Company Name: </label>
    <input type="text" id="companyName" name="companyName" />

    <label for="username">Username: </label>
    <input type="text" id="username" name="username" />

    <label for="password">Password: </label>
    <input type="text" id="password" name="password" />

    <label for="email">Email: </label>
    <input type="text" id="email" name="email" />

    <label for="address">Address: </label>
    <input type="text" id="address" name="address" />

    <label for="city">City: </label>
    <input type="text" id="city" name="city" />

    <label for="state">State: </label>
    <input type="text" id="address" name="address" />

    <label for="zipCode">ZipCode: </label>
    <input type="text" id="zipCode" name="zipCode" />

    <button id="registerButton">Register</button>
  </div>
</div>
