
<div>

    <!-- <app-nav-bar></app-nav-bar> -->

    <form class="">
        <div class="form-group">
            <label for="reviewProduct">Review: </label>
            <textarea class="form-control" name="review" id="review" rows="10" [(ngModel)]="review">{{ review }}</textarea>
        </div>
        <div class="form-group">
            <label for="rating">Rating:</label>
            <ngb-rating [max]="5" [(rate)]="rating" />
            <hr />
            <pre>Rate: <b>{{ rating }}</b></pre>
        </div>
        <p id="errorMessage" style="color: red;"[hidden]="errorMessageHidden" >Please write a review!</p>
        <button type="submit" class="btn btn-primary" (click)="postReview()">Submit</button>
    </form>

</div>