<div *ngIf="SessionStorageLength == 0; else elseBlock">
        <app-nav-bar></app-nav-bar>
    </div>
    <ng-template #elseBlock>
        <userNav></userNav>
    </ng-template>

<div class="checkout">
  <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4">
          <div class="checkout-inner">
              <div class="checkout-summary">
                  <h1>Cart Total</h1>
                  <br>
                  <div *ngFor="let user of orderDetails.users">
                    <h6>{{ user.productName }} <span class="price">$ {{ user.price }}</span></h6>
                  </div>
                  <br>
                  <h6 class="sub-total">Sub Total <span> $99</span></h6>
                  <br>
                  <h6 class="ship-cost">Ground Shipping <span> $5</span></h6>
                  <br>
                  <h6>Total <span> $100 </span></h6>
                  <br>
              </div>
              <div class="checkout-btn">
                <button>Place Order</button>
              </div>
          </div>
        </div>

          <div class="col-lg-8">
              <div class="checkout-inner">
                  <div class="row">
                      <div class="col-md-6">
                          <div class="billing-address">
                              <h2>Payment Information</h2>
                              <div class="row">
                                  <div class="col-md-6 mb-3">
                                      <label>First Name</label>
                                      <input class="form-control" type="text" placeholder="first name">
                                  </div>
                                  <br>
                                  <div class="col-md-6 mb-3">
                                    <label>Last Name</label>
                                    <input class="form-control" type="text" placeholder="last name">
                                  </div>
                                  <br>
                                  <div class="col-md-12 mb-3">
                                    <label>Card number</label>
                                    <input class="form-control" type="text" placeholder="no spaces or hyphens">
                                  </div>
                                  <br>
                                  <div class="col-md-6 mb-3">
                                    <label>Expiration</label>
                                    <input class="form-control" type="text" placeholder="mm/yy">                                   
                                  </div>
                                  <div class="col-md-6 mb-3">
                                    <label>Security Code</label>
                                    <input class="form-control" type="text" placeholder="cvc">                                   
                                  </div>
                                
                                  <br>
                                  <div class="col-md-12 mb-3">
                                      <label>Billing Address</label>
                                      <input class="form-control" type="text" placeholder="Address">
                                  </div>
                                  <br>
                                  <div class="col-md-6 mb-3">
                                      <label>City</label>
                                      <input class="form-control" type="text" placeholder="City">
                                  </div>
                                  <br>
                                  <div class="col-md-6 mb-3">
                                      <label>State</label>
                                      <input class="form-control" type="text" placeholder="State">
                                  </div>
                                  <br>
                                  <div class="col-md-6 mb-3">
                                      <label>ZIP Code</label>
                                      <input class="form-control" type="text" placeholder="ZIP Code">
                                  </div>
                                  <br>
                                  <div class="col-md-12">
                                      <div class="custom-control custom-checkbox">
                                          <input type="checkbox" class="custom-control-input" id="shipto" [(ngModel)]="shipToDifferentAddress">
                                          <label class="custom-control-label" for="shipto" > Ship to different addresss</label>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-6" *ngIf="shipToDifferentAddress">
                          <div class="shipping-address">
                              <h2>Shipping Address</h2>
                              <div class="row">
                                <div class="col-md-6 mb-3">
                                  <label>First Name</label>
                                  <input class="form-control" type="text" placeholder="first name">
                              </div>
                              <br>
                              <div class="col-md-6 mb-3">
                                <label>Last Name</label>
                                <input class="form-control" type="text" placeholder="last name">
                              </div>
                                  <br>
                                  <div class="col-md-12">
                                      <label>Address</label>
                                      <input class="form-control" type="text" placeholder="Address">
                                  </div>
                                <br>
                                  <div class="col-md-6">
                                      <label>City</label>
                                      <input class="form-control" type="text" placeholder="City">
                                  </div>
                                  <br>
                                  <div class="col-md-6">
                                      <label>State</label>
                                      <input class="form-control" type="text" placeholder="State">
                                  </div>
                                  <br>
                                  <div class="col-md-6">
                                      <label>ZIP Code</label>
                                      <input class="form-control" type="text" placeholder="ZIP Code">
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>


      </div>

  </div>

</div>
