<div *ngIf="SessionStorageLength == 0; else elseBlock">
        <app-nav-bar></app-nav-bar>
    </div>
    <ng-template #elseBlock>
        <userNav></userNav>
    </ng-template>

    <div class="checkout">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-4">
              <div class="checkout-inner">
                <div class="checkout-summary">
                  <h1>Cart Total</h1>
                  <br>
                  <div *ngFor="let product of products">
                    <div class="row">
                      <div class="col-md-6 mb-3">
                        <label>Product Name:</label>
                        <label>{{ product.productName }} </label>
                      </div>
                      <br/>
                      <div class="col-md-6 mb-3">
                        <label>Price:</label>
                        <label>{{product.price}} </label>
                      </div>
                      <br/>
                      <div class="col-md-6 mb-3">
                        <label>Quantity:</label>
                        <label>{{product.quantity}} </label>
                      </div>
                    </div>
                  </div>
                  <br>
                  <div *ngIf="cart && cart.orderItems && cart.orderItems.length > 0; else noItemsTemplate">
                  <h6 class="sub-total">Sub Total <span>{{subTotal | currency}}</span></h6>
                  <br>
                  <h6 class="ship-cost">Shipping <span>{{groundShipping | currency}} </span></h6>
                  <br>
                  <h5>Order Items:</h5>
               
                    <div *ngFor="let item of cart.orderItems" class="order-item">
                      <div class="item-info" *ngIf="item.imageUrl">
                        <span><img [src]="item.imageUrl" alt="Product Image" class="product-image"></span>
                      </div>
                      <div class="item-details">
                        <p>Product Name: {{item.productName}}</p>
                        <p>Product ID: {{item.productId}}</p>
                        <p>Quantity: {{item.quantity}}</p>
                        <p>Price: {{item.price | currency}}</p>
                      </div>
                    </div>
                </div>
                <ng-template #noItemsTemplate>
                    <p>No items in the cart.</p>
                  </ng-template>
             
                  <h6>Total <span>{{total | currency}}</span></h6>
                  <br>
                </div>
                <div class="checkout-btn">
                  <button (click)="submitOrder()">Place Order</button>
                </div>
              </div>
            </div>
      
            <div class="col-lg-8">
              <div class="checkout-inner">
                <div class="row">
                  <div class="col-md-6">
                    <div class="billing-address">
                      <h2>Payment Information</h2>
                      <form #paymentForm="ngForm">
                        <div class="row">
                          <div class="col-md-6 mb-3">
                            <label>First Name</label>
                            <input class="form-control" [(ngModel)]="payment.firstName" name="firstName" type="text" placeholder="first name" required>
                          </div>
                          <br>
                          <div class="col-md-6 mb-3">
                            <label>Last Name</label>
                            <input class="form-control" [(ngModel)]="payment.lastName" name="lastName" type="text" placeholder="last name" required>
                          </div>
                          <br>
                          <div class="col-md-12 mb-3">
                            <label>Card number</label>
                            <input class="form-control" [(ngModel)]="payment.cardNumber" name="cardNumber" type="text" placeholder="no spaces or hyphens" required>
                          </div>
                          <br>
                          <div class="col-md-6 mb-3">
                            <label>Expiration</label>
                            <input class="form-control" [(ngModel)]="payment.expiration" name="expiration" type="text" placeholder="mm/yy" required>                                   
                          </div>
                          <div class="col-md-6 mb-3">
                            <label>Security Code</label>
                            <input class="form-control" [(ngModel)]="payment.securityCode" name="securityCode" type="text" placeholder="cvc" required>                                   
                          </div>
                          <br>
                          <div class="col-md-12 mb-3">
                            <label>Billing Address</label>
                            <input class="form-control" [(ngModel)]="payment.billingAddress" name="billingAddress" type="text" placeholder="Address" required>
                          </div>
                          <br>
                          <div class="col-md-6 mb-3">
                            <label>City</label>
                            <input class="form-control" [(ngModel)]="payment.city" name="city" type="text" placeholder="City" required>
                          </div>
                          <br>
                          <div class="col-md-6 mb-3">
                            <label>State</label>
                            <input class="form-control" [(ngModel)]="payment.state" name="state" type="text" placeholder="State" required>
                          </div>
                          <br>
                          <div class="col-md-6 mb-3">
                            <label>ZIP Code</label>
                            <input class="form-control" [(ngModel)]="payment.zipCode" name="zipCode" type="text" placeholder="ZIP Code" required>
                          </div>
                          <br>
                          <div class="col-md-12">
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="shipto" [(ngModel)]="shipToDifferentAddress" name="shipToDifferentAddress">
                              <label class="custom-control-label" for="shipto"> Ship to different address</label>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="col-md-6" *ngIf="shipToDifferentAddress">
                    <div class="shipping-address">
                      <form #shippingForm="ngForm">
                        <h2>Shipping Address</h2>
                        <div class="col-md-12">
                          <label>Address</label>
                          <input class="form-control" [(ngModel)]="shipping.addressText" name="addressText" type="text" placeholder="Address" required>
                        </div>
                        <br>
                        <div class="col-md-6">
                          <label>City</label>
                          <input class="form-control" [(ngModel)]="shipping.city" name="city" type="text" placeholder="City" required>
                        </div>
                        <br>
                        <div class="col-md-6">
                          <label>State</label>
                          <input class="form-control" [(ngModel)]="shipping.state" name="state" type="text" placeholder="State" required>
                        </div>
                        <br>
                        <div class="col-md-6">
                          <label>ZIP Code</label>
                          <input class="form-control" [(ngModel)]="shipping.zipCode" name="zipCode" type="text" placeholder="ZIP Code" required>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      