<div>
  <app-nav-bar></app-nav-bar>
<p style="text-align: center; font-size: 30px; font-weight: bold;">User Register</p>
  <div id="registerForm">
    <label for="firstName">First Name: </label>
    <input type="text" id="firstName" name="firstName" [(ngModel)]="firstNameRegisterInput"/>

    <label for="lastName">Last Name: </label>
    <input type="text" id="lastName" name="lastName" [(ngModel)]="lastNameRegisterInput"/>

    <label for="username">Username: </label>
    <input type="text" id="username" name="username" [(ngModel)]="userNameRegisterInput"/>
    
        <label for="password">Password: </label>
        <input type="text" id="password" name="password" [(ngModel)]="passwordRegisterInput"/>

    <label for="email">Email: </label>
    <input type="text" id="email" name="email" [(ngModel)]="emailRegisterInput"/>

    <button id="registerButton" (click)="registerUser()">Register</button>
    <br />
    <p>
      Not a buyer? Register as Seller
      <a style="color: blue; cursor: pointer" (click)="toSellerRegister()"
        >Here.</a
      >
    </p>
  </div>
</div>
