<div>


    <div *ngFor="let items of orders[0].orderItems" class="order-item">
        <div class="item-image" *ngIf="items.imageUrl" >
            <img [src]="items.imageUrl" alt="Product Image" class="product-image">
          </div>
          <div class="item-details">
            <p>Product Name: {{items.productName}}</p>
            <p>Product ID: {{items.productId}}</p>
            <p>Quantity: {{items.quantity}}</p>
            <p>Price: {{items.price | currency}}</p>
          </div>
    </div>

    <p class="card-text">Total Price: {{this.orders[0].priceTotal | currency}}</p>
</div>

