<div>
    <app-nav-bar></app-nav-bar>

    <div class="container">
        <div>
            <!-- search bar -->
            <div class="row">
                <div class="col-12">
                    <label for="search" style="font-weight: bold;">Search Shoes: </label>
                    <input id="search" type="text" placeholder="Filter" [(ngModel)]="searchInputted">
                    <button type="button" id="searchButton" (click)="searchShoes(searchInputted)">Search</button>
                    <button type="button" id="clearButton" (click)="clearSearchResults()">Clear</button>
                </div>
            </div>
            <!-- filter content -->
            <div class="row">
                <div class="col-3">
                    <select class="form-select" aria-label="Default select example" [(ngModel)] ="categorySelected">
                        <option selected>Filter By:</option>
                        <option value="ATHLETIC">Atheletic</option>
                        <option value="CASUAL">Casual</option>
                        <option value="DRESS">Dress</option>
                    </select>
                </div>
                <div class="col-auto">
                    <button type="button" id="filterButton" (click)="filterShoes(categorySelected)">Filter</button>
                </div>
            </div>
            <!-- content -->
            <div>
                <p style="text-align: center; font-weight: bolder; font-size: 50px;">Products</p>
                <view-products *ngFor="let product of products" [productsInputted]="product" (viewProduct)="viewProduct($event)"></view-products>
            </div>
        </div>
    </div>
</div>