<div>
    <app-nav-bar></app-nav-bar>

    <div class="container">
        <div>
            <div>
                <label for="search" style="margin-left: 400px; font-weight: bold;">Search Shoes: </label>
                <input type="text" placeholder="Filter" style="margin-left: 10px;" [(ngModel)]="searchInputted">
                <button type="button" id="searchButton" style="margin-left: 5px;" (click)="searchShoes(searchInputted)">Search</button>
            </div>
            <div>
                <p style="text-align: center; font-weight: bolder; font-size: 50px;">Products</p>
                <view-products *ngFor="let product of products" [productsInputted]="product" (viewProduct)="viewProduct($event)"></view-products>
            </div>
        </div>
    </div>
</div>